html, body {
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0,0,0,0); /*must be transparent*/
    margin:0;
    padding:0;	
}

.info {
	font-size: medium;
	position: absolute;
	width: 100%;
	max-width: 100%;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	white-space: nowrap; 
}

